#cabecera{
    background-color: tomato;
    background: linear-gradient(to right, rgb(126, 0, 50), tomato);
}
#activo{
    background: yellowgreen;
    background: linear-gradient(to right, rgb(247, 219, 105), yellowgreen);
}
#des1{
    background-color: tomato;
}
#des2{
    background-color: tomato;
}
#des3{
    background-color: tomato;
}
#des4{
    background-color: tomato;
}