body{
    background: yellowgreen;
    background: linear-gradient(to right, rgb(247, 219, 105), yellowgreen);
}
#restaurantes1{
    background: yellowgreen;
    background: linear-gradient(to right, rgb(247, 219, 105), yellowgreen);
}
#restaurantes2{
    background: yellowgreen;
    background: linear-gradient(to right, rgb(247, 219, 105), yellowgreen);
}
#restaurantes3{
    background: yellowgreen;
    background: linear-gradient(to right, rgb(247, 219, 105), yellowgreen);
}
#restaurantes4{
    background: yellowgreen;
    background: linear-gradient(to right, rgb(247, 219, 105), yellowgreen);
}
#restaurantes5{
    background: yellowgreen;
    background: linear-gradient(to right, rgb(247, 219, 105), yellowgreen);
}
